cv2==4.5.1
sklearn==0.22.2.post1
torch==1.7.0+cu101
torchvision==0.8.1+cu101
pandas==1.1.5
numpy==1.19.5
tqdm==4.41.1
matplotlib==3.2.2
timm==0.3.2
joblib==1.0.0
pydicom==2.1.2
scipy==1.4.1
pytorch_ranger==0.1.1
warmup_scheduler==0.3.2
adamp==0.3.0